@import "./variables";

/* base page */
html,
body,
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

/* background */
.black-background {
	opacity: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	animation: hue-rot 15s linear 0s infinite alternate;
	transition: opacity 2s ease 1.5s;
	z-index: -1;
}

.logo-background {
	position: absolute;
	background-image: url("~@/../static/images/cgb.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 460px;
	height: 400px;
	top: calc(50% - 300px);
	left: calc(50% - 225px);
	transform: scale(0.5);
	opacity: 0.1;
}

// from https://github.com/drahoslove/pianco.git
.smoke-background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
    
	.smoke {
		opacity: 0.8066;
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url("~@/../static/images/smoke_blur.webp");
		background-position: center center;
		background-repeat: repeat;
		background-size: contain;
		animation-iteration-count: 1;
		animation-direction: alternate;
		z-index: -1;

		&:nth-child(1) {
			background-image: url("~@/../static/images/smoke_layer1_blur.webp");
			animation: flow-1 38s ease-in-out -10s 1 alternate;
            animation-fill-mode: forwards;
		}
		&:nth-child(2) {
			background-image: url("~@/../static/images/smoke_layer1_blur.webp");
			transform: scale(1, -1);
			animation: flow-2 33s ease-in-out -9s 1 alternate;
            animation-fill-mode: forwards;
		}
		&:nth-child(3) {
			background-image: url("~@/../static/images/smoke_layer1_blur.webp");
			transform: scale(-1, 1);
			animation: flow-3 38s ease-in-out -8s 1 alternate;
            animation-fill-mode: forwards;
		}
		&:nth-child(4) {
			background-image: url("~@/../static/images/smoke_layer1_blur.webp");
			transform: scale(-1, -1);
			animation: flow-4 31s ease-in-out -2s 1 alternate;
            animation-fill-mode: forwards;
		}
		&:nth-child(5) {
			opacity: 0.05;
			animation: flow-1 37s ease-in-out -30s 1 alternate;
            animation-fill-mode: forwards;
		}
		&:nth-child(6) {
			opacity: 0.05;
			transform: scale(1, -1);
			animation: flow-2 33s ease-in-out -29s 1 alternate;
            animation-fill-mode: forwards;
		}
		&:nth-child(7) {
			opacity: 0.05;
			transform: scale(-1, 1);
			animation: flow-3 37s ease-in-out -28s 1 alternate;
            animation-fill-mode: forwards;
		}
		&:nth-child(8) {
			opacity: 0.05;
			transform: scale(-1, -1);
			animation: flow-4 30s ease-in-out -27s 1 alternate;
            animation-fill-mode: forwards;
		}
	}
}

@keyframes hue-rot {
	0% {
		background-color: hsl(0, 95%, 55%);
	}
	25% {
		background-color: hsl(90, 95%, 55%);
	}
	50% {
		background-color: hsl(180, 95%, 55%);
	}
	75% {
		background-color: hsl(240, 95%, 55%);
	}
	100% {
		background-color: hsl(360, 95%, 55%);
	}
}

@keyframes flow-1 {
	from {
		background-position: -75vw 25vh;
	}
	to {
		background-position: 75vw -25vh;
	}
}
@keyframes flow-2 {
	from {
		background-position: -50vw -50vh;
	}
	to {
		background-position: 50vw 50vh;
	}
}
@keyframes flow-3 {
	from {
		background-position: +75vw -75vh;
	}
	to {
		background-position: 25vw 25vh;
	}
}
@keyframes flow-4 {
	from {
		background-position: -25vw -50vh;
	}
	to {
		background-position: 75vw 50vh;
	}
}

/* players list */
#players {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.player {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.player img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.player span {
	margin-top: 5px;
}
