@import "./variables";

/* base page */
html,
body,
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}

/* background */
.background {
	opacity: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000;
	animation: hue-rot 15s linear 0s infinite alternate;
	transition: opacity 2s ease 1.5s;
	z-index: -1;
}

#players {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.player {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

.player img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.player span {
	margin-top: 5px;
}
